.box {
  border: 2px solid black;
  /* height: 300px; */
  
  max-width: 100%;
  float: left;
  margin: 1%;
  padding: 1%;
}
.hikeInputs {
  min-width: 400px;
  width: 100%;
}
.card {
  width: 300px;
  /* height: auto; */
}
.searchHikes {
  width: 90%;
  min-height:100px;
}
#carouselResults {
  width: 90%;
}
.card-content {
  widows: 450px;
}
.card {
  width: 400px;
  border:1px solid rgb(178, 178, 178);
}
.carousel {
  height: 640px !important;
  vertical-align: text-top;
}
.carousel .carousel-item {
  width:400px !important;
min-height: 450px !important;
background-color: white;}
.btn-floating.halfway-fab {
  bottom: 0px !important;
}



h1 {
  background: darkblue;
  color: silver;
  padding: 0.625em 1.25em;
  text-align: left;
  margin: 0;
  font-size: 2em;
  font-weight: normal;
}

ul {
  margin: 2px;
  padding: 2px;
}

li {
  list-style: none;
  background: #fff;
  height: 2.5em;
  line-height: 2.5;
  color: #212121;
}

li:nth-child(2n) {
  background: #CFD8DC;
}

span {
  background-color: red;
  height: 37.5px;
  margin-right: 20px;
  text-align: center;
  color: white;
  opacity: 0;
  width: 0;
  display: inline-block;
  transition: all 0.4s linear;
}

li:hover span {
  width: 40px;
  display: inline-block;
  opacity: 1;
}

#container {
  width: 1333px;
  margin: 50px auto 0;
  background: silver;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.delete {
  color:black;
  text-decoration: line-through;
}